<a href="https://colab.research.google.com/github/SarahLares/KPMG_virtual_intership/blob/master/Data_Insightsy_Assessment_KPMG_Virtual_intership.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df_Cust_add = pd.read_csv('CustomerAddress.csv')
df_Cust_dem = pd.read_csv('CustomerDemographic.csv')
df_New_cust = pd.read_csv('NewCostumerList.csv')
df_Transactions = pd.read_csv('Transactions.csv')

> As seen in the previous task, there were not the same number of customers in the data sets **CustomerDemographic** and **CustomerAddress** so, only the customer_id that are in both data sets will be used and both sets will be united in one single Dataframe

In [17]:
all_cust = pd.merge(left=df_Cust_add,right=df_Cust_dem, left_on='customer_id', right_on='customer_id')

In [18]:
all_cust.shape

(3996, 18)

In [19]:
all_cust.head()

   customer_id              address  ...  owns_car tenure
0            1   060 Morning Avenue  ...       Yes   11.0
1            2  6 Meadow Vale Court  ...       Yes   16.0
2            4   0 Holy Cross Court  ...        No    7.0
3            5  17979 Del Mar Point  ...       Yes    8.0
4            6     9 Oakridge Court  ...       Yes   13.0

[5 rows x 18 columns]

In [43]:
trans_users = []
for cust in all_cust['customer_id']:
  tran = 0
  tran = df_Transactions.loc[df_Transactions['customer_id']==cust].shape[0]
  trans_users.append(tran)

We calculate the number of transaction for each **user_id** in the last 3 months and this is a new column in the data set

In [48]:
tran = pd.DataFrame(trans_users, columns=['Transactions_last_3_months'])

In [51]:
all_cust = pd.concat([all_cust,tran], axis=1)

In [62]:
all_cust['Transactions_last_3_months'].describe()

count    3996.000000
mean        4.996997
std         2.890404
min         0.000000
25%         3.000000
50%         5.000000
75%         7.000000
max        14.000000
Name: Transactions_last_3_months, dtype: float64

We can see that the mean of transaction in last 3 months for all teh customer is around 5 and 50% of clients made this number of transactions. And approximately 30% of customers made 7 transactions.

In [92]:
print("Percentage of customers who made 7 or more transactions in the last 3 months {:.5}".format(all_cust.loc[all_cust['Transactions_last_3_months']>= 7].shape[0]*100/3996))

Percentage of customers who made 7 or more transactions in the last 3 months 30.28